@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Lora:400|Merriweather+Sans:300,700);

$font-family-sans-serif: "Source Sans Pro", Ubuntu, Verdana, "Helvetica Neue", sans-serif;
$font-family-monospace: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
$font-size-base: 15px;

$headings-font-family: 'Merriweather Sans';
$headings-font-weight: 700;

$brand-primary: #55240d;

@import "bootstrap";
@import "font-awesome";

body {
  overflow-x: none;
  overflow-y: auto;
}

// Links
a {
    color: $link-color;
    text-decoration: none;
    @include transition(0.5s);

    &:hover,
    &:active {
        color: darken($link-color, 20%);
        text-decoration: none;
        @include transition(0.2s);
    }
}

// Headerbar
#headerbar {
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    z-index: 20;
    background-color: $brand-primary;
    color: #fff;

    &.masthead_has_bg {
      background-color: rgba($brand-primary, 0%);

      a.minilogo {
        &:link, &:visited {
          color: #fff;
        }
        &:hover, &:active {
          color: #fff;
        }
      }

      nav.my-apps ul > li > a {
        color: #fff;
        &:hover, &:active {
          background-color: rgba(255, 255, 255, 0.9);
          color: #000;
        }
      }
    }

    a.minilogo {
        font-family: 'Lora Regular', Lora, serif;
        font-weight: 400;
        font-size: 34px;
        letter-spacing: -2pt;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 40px;
        display: block;
        &:link,
        &:visited {
            color: lighten($brand-primary, 80%);
        }
        &:hover,
        &:active {
            color: lighten($brand-primary, 70%);
            text-shadow: 0px 0px 20px #fff;
            letter-spacing: 0pt;
        }
    }

    nav.my-apps > ul {
        list-style: none;
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        width: 100%;
        height: 100%;
        position: relative;

        > li {
            display: block;
            font-family: 'Merriweather Sans', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 20px;
            
            float: left;
            height: 100%;
            position: relative;
            > a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 20px 12px 20px;
                color: lighten($brand-primary, 80%);
                &:hover,
                &:active {
                    background-color: lighten($brand-primary, 10%);
                }
            }
        }
    }
}

// Master header and footer
div.masthead-wrapper {
    background-color: darken($brand-primary, 10%);
    z-index: 0;
    height: 350px;
}

header.masthead {
    margin-bottom: 10px;
    margin-top: 70px;
    position: fixed;
    height: 200px;
    width: 100%;
    left: 0;
    z-index: 0;
    display: table;
    text-align: center;
    color: #fff;

    > div {
        text-align: center;
        text-transform: uppercase;
        display: table-cell;
        vertical-align: middle;
        padding: 20px 10px 0;
        width: 100%;
        @media (min-width: $screen-sm-min) {
            width: $container-sm;
        }
        @media (min-width: $screen-md-min) {
            width: $container-md;
        }
        @media (min-width: $screen-lg-min) {
            width: $container-lg;
        }
        
        > h1 {
            font-family: 'Lora Regular', Lora, sans-serif;
            font-size: 4.5em;
            font-weight: 400;
            letter-spacing: 3pt;
            margin-bottom: 0px;

            @media(max-width: $screen-xs-max){
                font-size: 3.5em;
            }

            @media(max-width: 500px){
                font-size: 2.5em;
                padding-right: 10px;
            }

            em {
                font-variant: normal;
                font-size: 1.2em;
            }
        }

        > hr {
            border-color: #fff;
            width: 50%;
            margin-top: -5px;
            margin-bottom: 0px;

            @media(max-width: $screen-sm-max){
                margin-top: 0px;
                margin-bottom: 5px;
            }
        }

        > span {
            font-family: 'Merriweather Sans';
            font-size: 2em;
            font-weight: 300;
            letter-spacing: 4pt;

            @media(max-width: $screen-sm-max){
                letter-spacing: 2pt;
                font-size: 1.8em;
            }
        }
    }
}

footer.sitefoot {
    font-size: 0.8em;
    text-align: center;

    > hr { 
        margin-bottom: 5px;
    }
}

// Page content
div.main-content {
    background-color: #fff;
    z-index: 50;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
}

section {
    @include make-row();

    &.welcome {
        padding-bottom: 30px;
    }

    article {
        @include make-xs-column(12);
        @include make-sm-column(8);

        &.welcome {
            @include make-sm-column(4);
        }

        &.services {
            > .lead {
                margin-bottom: 3pt !important;
            }
        }

        &.fullwidth {
            @include make-sm-column(12);
        }
    }

    aside {
        @include make-xs-column(12);
        @include make-sm-column(4);

        &.welcome {
            @include make-sm-column(8);
            position: relative;
        }

        &.about {
            border-radius: 4px;
            background-color: #f7f7f7;
            
            h2 {
              font-weight: 300;
            }
        }
    }
}

// The carousel
#carousel-portfolio {
    box-shadow: 5px 10px 20px rgba(0,0,0,.25);
}

// Big badges
@mixin make-super-center(){
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
}

.big-badge {
    position: absolute;
    border-radius: 1000px;
    transform: rotate(5deg) translateZ(0px);
    -webkit-transform: rotate(5deg) translateZ(0px);
    -moz-transform: rotate(5deg) translateZ(0px);
    z-index: 65;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);

    > .inner {
        text-align: center;
        vertical-align: middle;
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
        border-radius: 1000px;
        border: 2px dashed white;
        box-shadow: none !important;
        display: block;
        color: #fff;
        
        @include make-super-center();

        > strong {
            font-family: 'Merriweather Sans', sans-serif;
            text-transform: uppercase;
            font-size: 1.5em;
            line-height: 1em;
            display: inline-block;
            vertical-align: middle;
        }

        &:hover {
            text-decoration: none;
            color: #fff;
            transform: rotate(10deg) translateZ(0px);
            -webkit-transform: rotate(10deg) translateZ(0px);
            -moz-transform: rotate(10deg) translateZ(0px);
        }
    }

    &.primary {
        background-color: $brand-primary;
    }

    &.my-work {
      top: -50px;
      right: -10px;
      z-index: 10;
      width: 120px;
      height: 120px;

      @media (max-width: $screen-xs-max) {
        right: 0px;
      }
    }
}

// Buttons
.btn {
    border-radius: 0 !important;
}

.btn-email {
    @include button-variant(#fff, $brand-primary, darken($brand-primary, 15%));
    border-bottom-width: 5px;
}

.btn-gplus {
    @include button-variant(#fff, #dd4b39, darken(#dd4b39, 10%));
}

.btn-linkedin {
    @include button-variant(#fff, #069, darken(#069, 10%));
}

// icons
.icon {
    margin: 5px;
    min-width: 75px;
    color: #c7c7c7;
    text-shadow: -1px -1px 0 rgba(50, 50, 50, 0.8);
    &.pull-left {
        margin-right: 15px !important;
    }
}

.myface {
    margin-left: auto;
    margin-right: auto;
}
