<a name="top"></a>
<a class="sr-only" href="#sr-content">Skip to content</a>
<div id="headerbar" class="{% if page.path == 'index.html' %}main{% else %}page{% endif %}{% if page.masthead.background %} masthead_has_bg{% endif %}">
    <div class="container">
        <div class="col-xs-3 col-sm-1">
            <a href="/" class="minilogo">FTW</a>
        </div>
        <div class="col-xs-9 col-sm-11">
            <div class="pull-right">
                <nav class="my-apps">
                    <ul>
                        <li>
                            <a href="https://github.com/FLamparski">
                                Projects
                            </a>
                        </li>
                        <li>
                            <a href="/about">
                                About
                            </a>
                        </li>
                    </ul>
                </nav>
            </div> <!-- pull-right -->
        </div> <!-- col-xs-1 ... -->
    </div> <!-- container -->
</div> <!-- #headerbar -->
<a name="sr-content"></a>
<div class="masthead-wrapper{% if include.masthead_image %} image{% endif %}"{% if include.masthead_image %} style="background-image: url({{ include.masthead_image }})"{% endif %}>
<div class="container">
    <header class="masthead">
      <div>
        <h1>{% if include.masthead_heading %}{{ include.masthead_heading }}{% else %}<em>F</em>ilip <em>T</em>omasz <em>W</em>ieland{% endif %}</h1>
        <hr />
        <span class="subtitle">{% if include.masthead_description %}{{ include.masthead_description }}{% else %}Observations on software, science, and politics{% endif %}</span>
        {% if include.masthead_image %}
        <a href="#after-header" class="more">More</a>
        {% endif %}
      </div>
    </header>
</div>
</div>
<div style="position: relative">
<a name="after-header" style="position: absolute; top: -160px"></a>
</div>
