<aside class="about" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="Filip Tomasz Wieland" id="person_me" />
      <meta itemprop="givenName" content="Filip Tomasz" />
      <meta itemprop="familyName" content="Wieland" />
      <div style="display: none;" itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <span itemprop="name">Chaser</span>
        <a itemprop="url" href="https://www.chaser.io">Chaser</a>
      </div>
      <a href="https://plus.google.com/+FilipLamparski" itemprop="url" style="display: none;">My G+ Profile</a>
    <h2>About me</h2>
    <img src="/img/face.jpg" itemprop="image" width="75" class="myface pull-right img img-responsive img-rounded" alt="A good picture of my face" />
    <p>Full(ish)-stack web developer and general-puropse hacker.</p>
    <p>I am currently working as a <span itemprop="jobTitle">software developer</span> for <a href="https://www.chaser.io/" target="_blank">chaser.io</a>, an invoice chasing add-on for the cloud accounting system Xero.</p>
    <p>
      <ul class="nav nav-stacked nav-pills">
        <li><a href="https://plus.google.com/+FilipLamparski" rel="author"><i class="fa fa-google-plus"></i>&emsp;Google+</a></li>
        <li><a href="https://twitter.com/Minkovsky"><i class="fa fa-twitter"></i>&emsp;Twitter</a></li>
      </ul>
    </p>
</aside>
