<aside class="about" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="Filip Tomasz Wieland" id="person_me" />
      <meta itemprop="givenName" content="Filip Tomasz" />
      <meta itemprop="familyName" content="Wieland" />
      <div style="display: none;" itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <span itemprop="name">Chaser</span>
        <a itemprop="url" href="https://www.chaser.io">Chaser</a>
      </div>
      <a href="https://plus.google.com/+FilipLamparski" itemprop="url" style="display: none;">My G+ Profile</a>
    <h2>About me</h2>
    <img src="/img/face.jpg" itemprop="image" width="75" class="myface pull-right img img-responsive img-rounded" alt="A good picture of my face" />
    <p>I have recently finished <abbr title="In the UK, this means high school">college</abbr>. I took Computing and Business Studies among other subjects, and am eager to put my skills to test on the web design market.</p>
    <blockquote>
        <p>A young individual passionate about software development, methodical, reliable, and a quick learner. Highly self-motivated, good team player and leader, rises to the challenge. Learns quickly and sets trends. Not afraid to experiment.</p>
        <footer>As seein in <cite title="See my CV on Google Drive"><a href="https://docs.google.com/document/d/1seEx6BUM1MkgGlttGAcrAK_tqRlPUx6_xCFAGuavvwA/" target="_blank">my CV</a></cite></footer>
    </blockquote>
    <p>I am currently working as a <span itemprop="jobTitle">software developer</span> for <a href="https://www.chaser.io/" target="_blank">chaser.io</a>, an invoice chasing add-on for the cloud accounting system Xero.</p>
</aside>
