---
layout: page
title: Blog
masthead:
    heading: The Blog
    description: Developing my Story
    background: '##geopattern##'
masthead_manual: true
permalink: /blog/
---

<section itemscope itemtype="http://schema.org/Blog">
  {% for post in site.posts %}
    <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      <h2 itemprop="name"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <small>Posted on <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_string }}</time>{% if post.author %} by <span itemprop="author" itemref="{{ post.author.itemref }}">{{ post.author.display }}</span>{% endif %}</small>
      <div itemprop="description">{{ post.excerpt }}</div>
      <hr />
    </article>
    {% if post.aside %}
    <aside>
      {{ post.aside }}
    </aside>
    {% endif %}
  {% endfor %}
</section>

<div style="display: none;">
  {% include person_me.html %}
</div>
