---
layout: default
---
<section class="post {{ page.title | slugify }}" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header col-xs-12">
    <h1 itemprop="name">{{ page.title }}</h1>
    <p>Posted on <time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date_to_string }}</time>{% if page.author %} by <span itemprop="author">{{ page.author }}</span>{% endif %}</p>
  </header>

  <div class="col-xs-12 post-content">
  {{ content }}
  </div>

</section>
<hr />
<div class="row" itemscope itemtype="http://schema.org/Blog">
  <div class="col-xs-12 post-list">
    <ul>
      {% for post in site.posts %}
      <li itemscope itemtype="http://schema.org/BlogPosting"><div class="col-xs-12"><a itemtype="name" href="{{ post.url }}">{{ post.title }}</a> <span class="pull-right">{% if post.author %}By <span itemprop="author">{{ post.author }}</span>{% else %}Posted {% endif %} on <time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time></span></div></li>
      {% endfor %}
    </ul>
  </div>
</div>
