---
layout: default
---
<section>
  <article class="post {{ page.title | slugify }}" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header col-xs-12">
      <h1 itemprop="name">{{ page.title }}</h1>
      <p>Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_string }}</time>{% if page.author %} by <span itemprop="author" itemscope itemtype="http://schema.org/Person" itemref="{{ page.author.itemref }}">{{ page.author.display }}</span>{% endif %}</p>
    </header>

    <div class="col-xs-12 post-content">
    {{ content }}
    </div>

  </article>
  {% include person_me.html %}
</section>
<hr />
<div class="row" itemscope itemtype="http://schema.org/Blog">
  <div class="col-xs-12 post-list">
    <ul>
      {% for post in site.posts %}
      <li itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting"><div class="col-xs-12"><a itemprop="name" href="{{ post.url }}">{{ post.title }}</a> <span class="pull-right">{% if post.author %}By <span itemscope itemprop="author" itemtype="http://schema.org/Person" itemref="{{ post.author.itemref }}">{{ post.author.display }}</span>{% else %}Posted {% endif %} on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></span></div></li>
      {% endfor %}
    </ul>
  </div>
</div>
